<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{url}}">
        <title>{{app_name}}</title>
    </head>
    <body>
        <p class="section-heading">{{app_name}}</p>
        <p></p>
        
        <section id="overview">
        <p class="normal">This is a prototype cloud-based application, demonstrating the following technical features:<br>
        <ol>
            <li>a service running on the Google App Engine application hosting platform (cloud).</li>
            <li>routing from a subdomain name to the applicaiton (sub-domain).</li>
            <li>use of Jinja2 HTML templating in Python (templating).</li>
            <li>static file serving on the Google App Engine platform.</li>
        </ol>
        </p>
        </section>

        <p></p>
        
        <section id="up-next">
        <p class="section-heading">Up next...</p>
        <p class="normal"><ul>
            <li>HTML5 boilerplate</li>
            <li>Form handling</li>
            <li>Asynchronoous Javascript routines</li>
        </ul></p>
        </section>
    
    </body>
    <p class="normal">Last updated: {{date_time}}</p>
    <footer class="footer">Copyright 2016 Neocapita. All rights reserved.
</html>