<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{url}}">
        <title>LFS</title>
    </head>
    <body>
        <p class="section-heading">Welcome to the {{app_name}}!</p>
        <p class="normal">This is a prototype, demonstrating the following technical features:<br>
        1. a service running on the Google App Engine application hosting platform (cloud).<br>
        2. routing from a subdomain name to the applicaiton (sub-domain).<br>
        3. use of Jinja HTML templating in Python (templating).</p>
        <p></p>
        <p class="section-heading">Up next...</p>
        <p class="normal">Now: {{date_time}}</p> 
    </body>
</html>